<!DOCTYPE html>
<html lang="es">
<head>
    <title>Mi buscador web</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <form action="#" method="get">
        <a href="/" title="Página Principal" id="logo">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Misión MinTic" height="50">
        </a>
        <input type="search" autocomplete="off" name="search_terms">
        <input type="submit" value="Buscar"/>
    </form>
</body>
</html>